.card {

    position: fixed;
    width: 320px;
    height: 220px;   
    aspect-ratio: 9/14;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    position: absolute;
    bottom: 5%;
    left: -50%;
    z-index: 9120;
    transition: all 2s ease-in;
  }
  .card.active {
    left: 5%;
  }

 
  .card .hero_image_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 0.4s;
  }
  .info {
    padding: 35px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.553), rgba(0,0,0,0.4), rgba(0,0,0,0.5));
    transform: translateY(80%);
    transition: 0.4s;
  }
  .info h3 {
    font-family: 'Tajawal';
    color: #fff;
    font-size: 30px;
    line-height: 110%;
  }

  

  .btn {
    font-family: 'Readex Pro';
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    background: #03A9F4;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pinter;
    opacity: 0;
    transition: 0.4s;
  }
  .card:hover .info {
    transform: translateY(0);
  }
  
  .card:hover a  ,   .card:hover .close_icon_card {
    opacity: 1;
  }
  
  .card:hover img {
    transform: scale(1.15);
  }

  .close_icon_card {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 5%;
    right: 5%;
    background: #fff;
    padding: 2px;
    border-radius: 250px;

    max-height: 1.6rem;
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
  }

  
