 /* 

GOOGLE FONTS : 

font-family: 'Readex Pro', sans-serif;
font-family: 'Tajawal', sans-serif;

colors :

GREEN COLOR : ##72D5A5

DARK GREEN COLOR : ##3F9B9D

PURPLE COLOR : ##8A85DB


WHITE : ##F5F5F5

YELLOW COLOR : #DFE338


*/

.mapboxgl-ctrl-attrib.mapboxgl-compact-show, .maplibregl-ctrl-attrib.maplibregl-compact-show {
 display: none !important;
}
.mapboxgl-ctrl, .maplibregl-ctrl {
 display: none !important;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
.a_link {
  list-style: none;
  color: inherit;
  cursor: pointer;

}
.a_underline {
  text-decoration: underline;
}
.App {
  position: relative;
  text-align: center;
}

.icon_small{
  max-height: 2.5rem;
  cursor: pointer;
}

.icon_mid{
  max-height: 3.5rem;
  cursor: pointer;
}

.icon_big{
  max-height: 4.5rem;
  cursor: pointer;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px);
}
* {
  margin: 0;
  padding: 0;
  
}