 /* 

GOOGLE FONTS : 

font-family: 'Readex Pro', sans-serif;
font-family: 'Tajawal', sans-serif;

colors :

BLUE COLOR : #2b4865

LIGHT BLUE : #0088b6

WHITE : #ffffff


*/

button {
  cursor: pointer;
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
.a_link {
  list-style: none;
  color: inherit;
  cursor: pointer;

}
.a_underline {
  text-decoration: underline;
}
.App {
  position: relative;
  text-align: center;
}

.icon_small{
  max-height: 2.5rem;
  cursor: pointer;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px);
}
* {
  margin: 0;
  padding: 0;
  
}